@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    background-color: hsl(217, 19%, 24%);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.1px);
}

h1 {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.9rem;
    margin-bottom: 1.25rem;
    letter-spacing: 0.4rem;
}

p {
    font-size: 28px;
    line-height: 1.5;
    padding-bottom: 2rem;
    color: hsl(193, 38%, 86%);
}

.container {
    background-color: hsl(217, 19%, 38%);
    padding: 1.25rem 1.25rem 3rem;
    border-radius: 1rem;
    color: #ffff;
    position: relative;
}

.container button {
    background-color: hsl(150, 100%, 66%);
    padding: 1.25rem;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
}

.container button:hover {
    background-color: hsl(150, 59%, 54%);
}

@media (min-width:500px) {
    .container {
        max-width: 480px;
    }
}